{% if config.enabledLanguages|length > 1 %}<div class="panel-body">{% endif %}
    <!-- Nav tabs -->
    {% if config.enabledLanguages|length > 1 %}
    <ul class="nav nav-tabs">
        {% for lang, data in content %}
        <li class="{% if data.active %}active{% endif %}{% if data.invalid %} text-danger{% endif %}">
            <a href="#{{ lang }}" data-toggle="tab" class="{% if data.invalid %} text-danger{% endif %}">{% if data.invalid %}<i class="fa fa-times"></i> {% endif %}{{ lang }}</a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}

    <!-- Tab panes -->
    {% if config.enabledLanguages|length > 1 %}<div class="tab-content">{% endif %}
        {% for lang, data in content %}
            <div class="tab-pane fade {% if data.active %}active{% endif %} in" id="{{ lang }}">
                {{ data.content | raw }}
            </div>
        {% endfor %}
        {% if config.enabledLanguages|length > 1 %}</div>{% endif %}
{% if config.enabledLanguages|length > 1 %}</div>{% endif %}