<table class="table table-striped table-bordered table-hover dataTable no-footer" id="dataTables-example" aria-describedby="dataTables-example_info">
    <thead>
        <tr role="row">
        {% for column in columns %}
            <th>{{ column.title }} </th>
        {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for item in data %}
            <tr>
                {% for column in columns %}
                    <td>
                        {% if column.data == 'actions' %}
                            {% for action in item['actions'] %}
                                <a class="btn btn-sm {{ action.button.class}}" href="{{ config.adminUrl }}{{ action.action }}"><i class="fa {{ action.button.icon }}"></i></a>
                            {% endfor %}
                        {% else %}
                            {{ item[column.data] }}

                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
{{ pagination | raw }}