<ul class="pagination">
    <li class="paginate_button previous"><a href="#">Previous</a></li>
    <li class="paginate_button active"><a href="#">1</a></li>
    <li class="paginate_button "><a href="#">2</a></li>
    <li class="paginate_button next"><a href="#">Next</a></li>
</ul>