// Helper functions & mixins
@import 'functions/px-2-em';
@import 'functions/px-2-rem';
@import 'functions/rem-2-px';
@import 'functions/strip-unit';

@import 'mixins/equal-columns';
@import 'mixins/font';
@import 'mixins/font-size';
@import 'mixins/input-placeholder';
@import 'mixins/line-height';
@import 'mixins/rem-fallback';
@import 'mixins/screen-size';
@import 'mixins/sticky-footer';
@import 'mixins/text-color';
@import 'mixins/triangle';

// Variables
@import 'variables';
$layout-responsive: false;
$rem-support: false;
$directory-vendor: '../../lib/vendor/';

// Compass
@import 'compass/utilities';
@import 'compass/css3';

// Crossbrowser normalisations
@import '../../lib/vendor/normalize.scss/_normalize.scss';

// Helper classes
@import 'base/helpers';

// Grid system based on susy
@import 'base/grid';

// Typography: fonts and markup styles
@import 'base/typography';

// Form stylings
@import 'base/form';

// Global layout (header & footer)
@import 'base/layout';

// All website components
@import 'components/browse-happy';
@import 'components/button';
@import 'components/files-list';
@import 'components/flash';
@import 'components/lightbox';
@import 'components/media-grid';
@import 'components/no-script';
@import 'components/overview';

// Print
@import 'base/print';

form{
  .entry{
    .input-wrapper {
      overflow: visible;
    }
  }
}