/* ==========================================================================
   Variables
   ========================================================================== */

/* Browser support */
$legacy-support-for-ie6:    false; // Used by normalize & susy
$legacy-support-for-ie7:    true; // Used by normalize & susy
$rem-support:               true;


/* Layout */
$layout-responsive:         true;


/* Breakpoints - Change according to the design */
$breakpoint-small:          560px;
$breakpoint-medium:         960px;


/* Grid - 960 grid by default */
$grid-wrapper-width:        100%; // Outer width of your website (for layout items that stick out of the container width)
$grid-total-columns:        12;
$grid-column-width:         60px;
$grid-gutter-width:         20px;
$grid-padding-width:        10px; // Side padding


/* Colors */
$primary-color:             #66b1cc;
$dark-color:                #6b9fb3;
$red:                       #a54028;
$green:                     green;
$blue:                      #3d9ccc;
$dark-gray:                 #333333;


/* Typography */
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,700);

$base-font-family:          'Roboto', sans-serif;
$titles-font-family:        'Roboto', sans-serif;

$base-font-color:           black;
$base-link-color:           $primary-color;
$base-selection-color:      $base-font-color;
$base-selection-bgcolor:    #B3D4FD; // Browser default (chrome)
$hr-color:                  $base-font-color;

$base-rem-size:             16px; // Browser default

$large-font-size:           px-2-rem(16px);
$large-font-margin:         px-2-rem(25px);
$large-line-height:         $large-font-size * 1.5;

$medium-font-scale:         px-2-rem(18px) / $large-font-size;
$medium-font-margin:        px-2-rem(30px);

$small-font-scale:          px-2-rem(14px) / $large-font-size;
$small-font-margin:         px-2-rem(25px);


/* Flash messages */
$flash-success-bgcolor:     $green;
$flash-success-color:       white;
$flash-error-bgcolor:       $red;
$flash-error-color:         white;