{% extends "front.twig" %}
{% block content %}
    <div id="error">
        <div class="container">
            <h1>Error 404</h1>
            <p>Deze pagina bestaat niet!</p>
            <a class="button" href="{{ config.siteUrl }}">Terug naar homepagina</a>
        </div>
    </div>
{% endblock %}