/* Equal columns helper mixin for lists
 * If total columns is not the default total-colums we add a suffix so we can create a subgrid
 * Examples:
 *  - cols-large-2      => 2 columns of the default grid (12-grid)
 *  - cols-large-2-8    => 2 columns of a 8-grid
*/
@mixin equal-columns($screenSize, $amount, $total: $grid-total-columns) {
    $suffix: "";
    @if $total != $grid-total-columns {
        $suffix: "-" + $total;
    }

    .#{$screenSize}_cols-#{$amount}#{$suffix} .col {
        @include span-columns($amount, $total);
        margin-bottom: $grid-gutter-width;

        &:nth-child(#{$total / $amount}n) {
            margin-right: 0;
        }

        &:nth-child(#{$total / $amount}n +1) {
            clear: left;
        }
    }
}