@mixin font-size($rem) {
    @include rem-fallback(font-size, $rem);

    @include screen-size(medium) {
        @include rem-fallback(font-size, $rem * $medium-font-scale);
    }

    @include screen-size(small) {
        @include rem-fallback(font-size, $rem * $small-font-scale);
    }
}