@mixin line-height($rem) {
    @include rem-fallback(line-height, $rem);

    @include screen-size(medium) {
        @include rem-fallback(line-height, $rem * $medium-font-scale);
    }

    @include screen-size(small) {
        @include rem-fallback(line-height, $rem * $small-font-scale);
    }
}