@mixin screen-size($sizes...) {
    @each $size in $sizes {
        @if $layout-responsive and $size == small {
            @media only screen and (max-width: $breakpoint-small) { @content; }
        }
        @else if $layout-responsive and $size == medium {
            @media only screen and (min-width: $breakpoint-small + 1) and (max-width: $breakpoint-medium) { @content; }
        }
        @else if $size == large {
            @if $layout-responsive {
                @media only screen and (min-width: $breakpoint-medium +1) { @content; }
            } @else {
                @content;
            }
        }
    }
}