@mixin sticky-footer($height, $my-root: '#wrapper', $my-footer: '#footer') {
    html, body {
        padding: 0;
        margin: 0;
        height: 100%;
    }

    #{$my-root} {
        @include box-sizing(border-box);
        min-height: 100%;
        padding-bottom: $height;
    }

    #{$my-footer} {
        height: $height;
        margin-top: $height * -1;
    }
}