@mixin triangle($direction: up, $color: black, $size: 20px) {

    @if $direction == left {
        border-top: $size solid transparent;
        border-top: px-2-rem($size) solid transparent;
        border-right: $size solid $color;
        border-right: px-2-rem($size) solid $color;
        border-bottom: $size solid transparent;
        border-bottom: px-2-rem($size) solid transparent;
        border-left: 0;
    }
    @else if $direction == right {
        border-top: $size solid transparent;
        border-top: px-2-rem($size) solid transparent;
        border-right: 0;
        border-bottom: $size solid transparent;
        border-bottom: px-2-rem($size) solid transparent;
        border-left: $size solid $color;
        border-left: px-2-rem($size) solid $color;
    }
    @else if $direction == up {
        border-top: 0;
        border-right: $size solid transparent;
        border-right: px-2-rem($size) solid transparent;
        border-bottom: $size solid $color;
        border-bottom: px-2-rem($size) solid $color;
        border-left: $size solid transparent;
        border-left: px-2-rem($size) solid transparent;
    }
    @else if $direction == down {
        border-top: $size solid $color;
        border-top: px-2-rem($size) solid $color;
        border-right: $size solid transparent;
        border-right: px-2-rem($size) solid transparent;
        border-bottom: 0;
        border-left: $size solid transparent;
        border-left: px-2-rem($size) solid transparent;
    }

    height: 0;
    width: 0;
}