{% extends "front.twig" %}
{% block content %}
    <div id="resume">
        <div class="container">
            <h1><span class="itemprop="name">Brecht Franco</span><br/><span class="black">Webdeveloper</span></h1>
            <hr/>

            <div class="row">
                <h2>Ervaring</h2>
                <p>Ik heb in mijn carriëre van de volgende interessante <br/>ervaringen mogen genieten:</p>
                <div class="attribute">
                    <div class="name">6 mei 2013 - 1 december 2013</div>
                    <div class="value">
                        <p>Inventis</p>
                        <p>Webdeveloper</p>
                        <p>Front-end integratie + ontwikkelen modules (front- en back-end) voor custom framework</p>
                    </div>
                </div>
                <div class="attribute">
                    <div class="name">1 februari 2013 - 22 maart 2013</div>
                    <div class="value">
                        <p>anaXis - Stage</p>
                        <p>Drupal Developer</p>
                        <p>Realiseren van websites met Drupal. Back- en front-end: module development, theming, etc.</p>
                    </div>
                </div>
                <h2>Vaardigheden</h2>
                <p>Door mijn vorige tewerkstelling, stage en vrijetijdsbesteding<br/> ben ik met de volgende zaken in aanraking gekomen:</p>
                <div class="attribute">
                    <div class="name">Software</div>
                    <div class="value">
                        <ul>
                            <li>PhpStorm</li>
                            <li>Netbeans</li>
                            <li>Eclipse</li>
                            <li>Aptana</li>
                            <li>Photoshop</li>
                            <li>CSS preprocessors: SASS (Compass, Susy, ...), LESS</li>
                            <li>Besturingssystemen: Windows, Mac(OSX), Linux(Ubuntu)</li>
                        </ul>
                    </div>
                </div>
                <div class="attribute">
                    <div class="name">Technologieën</div>
                    <div class="value">
                        <ul>
                            <li>PHP (OOP)</li>
                            <li>CSS3</li>
                            <li>XHTML</li>
                            <li>Javascript</li>
                            <li>jQuery</li>
                            <li>Ext JS</li>
                            <li>Template engines: Smarty en Twig</li>
                            <li>Gebruik van Composer en Bower</li>
                            <li>Git</li>
                            <li>Adaptive en responsive design</li>
                        </ul>
                    </div>
                </div>
                <div class="attribute">
                    <div class="name">Frameworks/CMS</div>
                    <div class="value">
                        <p>Drupal 7: Theming en module development</p>
                        <p>Custom frameworks met Zend/Doctrine/Symfony components</p>
                    </div>
                </div>
                <div class="attribute">
                    <div class="name">Behaalde certificaten</div>
                    <div class="value">
                        <ul>
                            <li>(X)HTML</li>
                            <li>PHP + Databases</li>
                            <li>Drupal</li>
                            <li>Interfacetechnieken (CSS)</li>
                            <li>Webanimatie (CSS3, jQuery + AJAX)</li>
                            <li>Photoshop</li>
                        </ul>
                    </div>
                </div>
            </div>
            </div>
    </div>
    <div id="contact">
        <div class="divider"></div>

        <div class="container">
            <div class="row">
                <h2>Contacteer me</h2>

                <div class="col-4 data">
                    <h3>Mijn gegevens</h3>
                    <div class="dark-box">
                        <h4>E-mail</h4>
                        <a class="info" href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#102;&#114;&#97;&#110;&#99;&#111;&#46;&#98;&#114;&#101;&#99;&#104;&#116;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;"><meta itemprop="email" content="franco.brecht@gmail.com">&#102;&#114;&#97;&#110;&#99;&#111;&#46;&#98;&#114;&#101;&#99;&#104;&#116;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;</a>
                        <h4>Gsm</h4>
                        <a href='tel:0494684694' class="info phone" itemprop="telephone">0494/68 46 94</a>
                        <h4>Adres</h4>
                        <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                            <span class="info no-margin" itemprop="streetAddress">
                                Boomgaardstraat 10<br/>
                                3550 Zolder
                            </span>
                        </span>
                    </div>
                </div>
                <div id="contact_form" class="col-5 form align-left">
                    <h3>Of via dit formulier</h3>
                    {% if success %}
                        <div class="success">Bedankt voor je berichtje! <br/>Ik neem zo snel mogelijk contact op!</div>
                    {% endif %}
                    <form action="#contact_form" method="post">
                        <div class="entry{% if errors.name %} error {% endif %}">
                            <div class="input-wrapper">
                                <label for="name"><span class="name-icon"></span></label><input type="text" name="name" id="name" placeholder="Naam" value="{{ twig.post.name|e }}"/>
                            </div>
                            {% if errors.name %}<span class="error">{{ errors.name|e }}</span>{% endif %}
                        </div>
                        <div class="entry{% if errors.email %} error {% endif %}">
                            <div class="input-wrapper">
                                <label for="email"><span class="email-icon"></span></label><input type="text" name="email" id="email" placeholder="E-mail adres" value="{{ twig.post.email|e }}"/>
                            </div>
                            {% if errors.email %}<span class="error">{{ errors.email|e }}</span>{% endif %}
                        </div>
                        <div class="entry{% if errors.message %} error {% endif %}">
                            <div class="input-wrapper">
                                <label for="message"><span class="message-icon"></span></label><textarea name="message" id="message" placeholder="Bericht">{{ twig.post.message|e }}</textarea>
                            </div>
                            {% if errors.message %}<span class="error">{{ errors.message|e }}</span>{% endif %}
                        </div>
                        <input type="submit" class="button" value="Verzenden"/>
                    </form>
                </div>
                <div class="col-3 social-media omega">
                    <h3>Sociale media</h3>
                    <div class="row"><a class="button red" href="http://www.facebook.com/brecht.franco" target="_blank">Facebook</a></div>
                    <div class="row"><a class="button red" href="http://www.linkedin.com/profile/view?id=177830222" target="_blank">LinkedIn</a></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}