.button {
    @extend .base-font-margin;
    position: relative;
    padding: 10px $gutter-width;
    border: none;
    border-bottom: 4px solid #4c8599;
    white-space: nowrap;
    vertical-align: middle;
    text-decoration: none;
    background-color: $primary-color;
    color: white;
    @include inline-block;
    @include line-height(1rem);
    @include box-sizing(border-box);
    @include border-radius(2px, 2px);
    cursor: pointer;

    @include transition(all, 0.2s);

    &:hover, &:focus {
      background-color: lighten($primary-color, 10%);
    }
    &.red {
      background-color: #bf4b2e;
      &:hover {
        background-color: #d95534;
      }
      border-bottom-color: #993c25;
      border-right: 1px solid #993c25;
    }
}