.flash-container {
    @extend .base-block-margin;
    position: relative;
    @include transition(opacity 0.8s);

    &.hide {
        @include opacity(0);
    }
}
.alert-message {
    padding: 1em $grid-gutter-width 0 $grid-gutter-width;
    overflow: hidden;

    .title {
        @extend .title-4;
        @include rem-fallback(margin-bottom, 1rem);
    }

    a.close {
        position: absolute;
        top: 1em;
        right: 1em;
        font-weight: bold;
        text-decoration: none;
        text-transform: uppercase;
    }

    &.success {
        background-color: $flash-success-bgcolor;
        color: $flash-success-color;

        a, .title {
            color: $flash-success-color;
        }
    }

    &.error {
        background-color: $flash-error-bgcolor;
        color: $flash-error-color;

        a, .title {
            color: $flash-error-color;
        }
    }
}