<div class="form-group{% if invalid %} has-error{% endif %}">
    <label class="control-label">{{ label }}</label>
    <input type="text" class="form-control" name="{{ name }}" value="{{ value }}">
    {% if help %} }}<p class="help-block">Example block-level help text here.</p>{% endif %}
    {% if errors %}
        {% for error in errors %}
            <p class="text-danger">{{ error }}</p>
        {% endfor %}
    {% endif %}
</div>