<div class="form-group{% if invalid %} has-error{% endif %}">
    <label>{{ label }}</label>
    <textarea class="form-control" rows="3" id = "{{ id }}" name="{{ name }}">{{ value }}</textarea>
    {% if help %} }}<p class="help-block">Example block-level help text here.</p>{% endif %}
</div>