{% extends "admin.twig" %}
{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="form-group"><a class="btn btn-default" href="{{ overviewUrl }}"><i class="fa fa-arrow-left"></i> Naar overzicht</a></div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">{{ content | raw }}</div>
</div>
{% endblock %}