{% extends "admin.twig" %}
{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="form-group"><a class="btn btn-success btn-lg" href="{{ config.adminUrl }}news/new/">Nieuw Bericht</a></div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">{{ content | raw }}</div>
</div>
{% endblock %}