{% extends "admin.twig" %}
{% block content %}
    <div class="col-lg-3">
        <form role="form">
            <div class="form-group input-group">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <input type="text" class="form-control" placeholder="Gebruikersnaam" name="user">
            </div>

            <div class="form-group input-group">
                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                <input type="password" class="form-control" placeholder="Wachtwoord" name="password">
            </div>
            <button type="submit" class="btn btn-default">Log in</button>
        </form>
    </div>
{% endblock %}