/* ==========================================================================
   Form styles
   ========================================================================== */

form {
    @extend .base-block-margin;

    input[type=text],
    input[type=email],
    input[type=password],
    input[type=number],
    input[type=file],
    textarea,
    select {
        width: 100%;
        @include inline-block;
        @include rem-fallback(margin, 0, 0, 1rem, 0);
        @include font-size($large-font-size);

        @include screen-size(small) {
            font-size: 16px !important; // Prevents iOS zooming on form fields
        }
    }

    input[type=text],
    input[type=email],
    input[type=password],
    textarea,
    select {
        @include line-height($large-line-height); // Be careful by changing this on other form elements!
    }

    input[type=text],
    input[type=email],
    input[type=password],
    input[type=number],
    textarea {
        border: 0;
        background-color: white;
        border: none;
        @include rem-fallback(padding, 0.5em, 1em);
        @include box-sizing(border-box);
        @include input-placeholder {
            color: gray;
        }

        &:focus {
            background-color: white;
            outline: none;
        }
    }

    input[type=text],
    input[type=number],
    input[type=password],
    input[type=email] {
        height: 37px;

        .no-boxsizing &{
            height: 23px;
        }
    }

    label,
    .label {
        @include inline-block;
        @include rem-fallback(margin-bottom, 0.5rem);
    }

    .checkboxes {
        label {
            display: block;
            @include rem-fallback(margin, 0, 0, 0.5rem, 0.5rem);

            input {
                margin-right: $grid-gutter-width / 2;
            }
        }
    }

    input[type=submit],
    button {
        position: relative;
        top: -1px;
        @include rem-fallback(margin-bottom, 1rem);
    }

    .error {
        display: block;

        .help-block {
            display: block;
            color: $red;
            font-size: 0.9em;
            position: relative;
            top: -1em;
        }
    }

    // Remove bottom margin of columns
    .row > [class*="col-"] {
        margin-bottom: 0;
    }
}

fieldset {
    border: 0;
    margin: 0 0 $grid-gutter-width 0;
    padding: 0;
}

textarea {
    resize: vertical;
}