/* ==========================================================================
   Grid system, based on susy
   ========================================================================== */

// Susy configuration
@if $layout-responsive {
    $container-style: magic;
} @else {
    $container-style: static;
}
$total-columns: $grid-total-columns;
$column-width: $grid-column-width;
$gutter-width: $grid-gutter-width;
$grid-padding: $grid-padding-width;
@import 'susy';

// Grid helper variables
$grid-container-max-width: columns($total-columns, $total-columns, static) + $grid-padding * 2; // Can be used to set min-width in non responsive layout


.container {
    position: relative;
    @include container;

    @include screen-size(small) {
        padding: 0 2%;
    }

    /* MEDIUM SCREEN - Add side padding */
    @include screen-size(medium) {
        padding: 0 3%;
    }
}

.row {
    @extend .clearfix;
    width: 100%;
    .ie7 &{
        width: 101.1%; // Fixes IE 7 percentage bug
    }

    > [class*="col-"] {
        margin-bottom: $grid-gutter-width;
    }
}

[class*="col-"] {
    width: 100%;
    @include span-columns($total-columns);

    @media screen and (min-width:$breakpoint-small) and (max-width:$breakpoint-medium - 1) {
      &.col-9 {
        @include span-columns(12,$total-columns);
      }
      &.col-6 {
        @include span-columns(12,$total-columns);
      }
      &.col-3 {
        @include span-columns(6,$total-columns);
      }
    }

    @media screen and (max-width:959px) {

    }

    @media screen and (min-width:$breakpoint-medium) {
      @include span-columns(1,$total-columns);
      &.col-1 { @include span-columns(1,$total-columns); }
      &.col-2 { @include span-columns(2,$total-columns); }
      &.col-3 { @include span-columns(3,$total-columns); }
      &.col-4 { @include span-columns(4,$total-columns); }
      &.col-5 { @include span-columns(5,$total-columns); }
      &.col-6 { @include span-columns(6,$total-columns); }
      &.col-7 { @include span-columns(7,$total-columns); }
      &.col-8 { @include span-columns(8,$total-columns); }
      &.col-9 { @include span-columns(9,$total-columns); }
      &.col-10 { @include span-columns(10,$total-columns); }
      &.col-11 { @include span-columns(11,$total-columns); }
      &.col-12 { @include span-columns(12,$total-columns); }
    }

    &.omega { margin-right: 0 !important; }
}


/* MEDIUM SCREEN */
@if $layout-responsive {
    @include screen-size(medium){
        @for $i from 1 through ($grid-total-columns - 1) {
            .medium_col-#{$i} { @include span-columns($i); }
        }

        .medium_col-3-9 { @include span-columns(3, 9); }
        .medium_col-4-9 { @include span-columns(4, 9); }
    }
}

/* LARGE SCREEN */
@include screen-size(large) {
    @for $i from 1 through ($grid-total-columns - 1) {
        .large_col-#{$i} { @include span-columns($i); }
    }

    .large_col-2-8 { @include span-columns(2, 8); }
    .large_col-3-8 { @include span-columns(3, 8); }
    .large_col-6-8 { @include span-columns(6, 8); }
}

/* PRINT */
@media print {
    @for $i from 1 through ($grid-total-columns - 1) {
        .print_col-#{$i} { @include span-columns($i); }
    }
}


/* SMALL SCREEN: add side padding */
@if $layout-responsive {
    @include screen-size(small) {
        .small_side-padding {
            padding-left: $grid-gutter-width;
            padding-right: $grid-gutter-width;
            @include box-sizing(border-box);
        }
    }
}


/**************************************
* EQUAL COLUMNS
***************************************/

@if $layout-responsive {
    /* SMALL SCREEN: equal columns */
    @include screen-size(small) {
        @include equal-columns('small', 6);
    }

    /* MEDIUM SCREEN: equal columns */
    @include screen-size(medium) {
        @for $i from 1 through ($grid-total-columns - 1) {
            @include equal-columns('medium', $i);
        }

        @include equal-columns('medium', 3, 9);
    }
}

/* LARGE SCREEN: equal columns */
@include screen-size(large, print) {
    @for $i from 1 through ($grid-total-columns - 1) {
        @include equal-columns('large', $i);
    }

    @include equal-columns('large', 2, 8);
}

/* PRINT: equal columns */
@media print {
    @for $i from 1 through ($grid-total-columns - 1) {
        @include equal-columns('print', $i);
    }
}


/**************************************
* WIDTHS
***************************************/

@if $layout-responsive {
    /* SMALL SCREEN: equal columns */
    @include screen-size(small) {
        .small_width-auto { width: auto !important; }
        .small_width-3 { width: columns(3, $total-columns); }
    }

    /* MEDIUM SCREEN: just widths */
    @include screen-size(medium) {
        @for $i from 1 through ($grid-total-columns - 1) {
            .medium_width-#{$i} { width: columns($i); }
        }

        .medium_width-2-4 { width: columns(2, 4); }
        .medium_width-5-9 { width: columns(5, 9); }
    }
}

/* LARGE SCREEN: just widths */
@include screen-size(large) {
    @for $i from 1 through ($grid-total-columns - 1) {
        .large_width-#{$i} { width: columns($i); }
    }

    .large_width-1-3 { width: columns(1, 3); }
    .large_width-4-8 { width: columns(4, 8); }
}

/* PRINT: just widths */
@media print {
    @for $i from 1 through ($grid-total-columns - 1) {
        .print_width-#{$i} { width: columns($i); }
    }
}