/* ==========================================================================
   Global layout: header & footer
   ========================================================================== */

body {
    position: relative;
    min-height: 100%;
    min-width: 320px;
    width: 100%;
    background-color: #fafafa;
}

#wrapper, #footer {
    max-width: $grid-wrapper-width;
    margin: 0 auto;
}

/*
* Header
*/
header {
  padding-top: 3em;
  .picture {
    background: url(../images/brecht.png) no-repeat center bottom;
    text-indent: -9999px;
    height: 134px;
  }
}
form.search {
    position: relative;
    width: columns(3,$total-columns);

    button {
        position: absolute;
        right: 10px;
        overflow: hidden;
        text-indent: -999px;
        border: 0;
        background-color: transparent;
    }
}

#resume {
  background-color: $blue;
  padding: 2em 0 3em;
  font-size: 16px;
  p {
    text-align: center;
    margin-bottom: 0.5em;
    color: #fafafa;
    margin-top: -1em;
    margin-bottom: 2em;
  }
  hr {
    border: none;
    background: url(../images/resume-div.png) center no-repeat;
    height: 60px;
    margin: 1em auto;
  }
  ul {
    padding-left: 0;
  }
  .attribute {
    margin-bottom: 1em;
    overflow: hidden;
    .name, .value {
      @include span-columns(6);

    }
    .name {
      text-align: right;
      color: #fafafa;
    }
    .value {
      text-align: left;
      color: #1F2E33;
      margin-right: 0;
      p {
        text-align: left;
        color: #1F2E33;
        margin: 0 0 0.5em;
      }
    }
    @include screen-size(small) {
      .name, .value {
        @include span-columns(12);
        text-align: center;
      }
      .name {
        margin-bottom: 0.5em;
      }
      .value {
        margin-bottom: 1em;
        p {
          text-align: center;
        }
      }
    }
  }
  ul {
    list-style-type: none;
    margin-bottom: 0;
  }
  .cv {
    text-align: center;
    margin-top: 1em;
  }
}

#error {
  background-color: $red;
  overflow: hidden;
  height: 100%;
  p {
    text-align: center;
    font-size: 18px;
    color: #fafafa;
  }
}
#contact {
  position: relative;
  .divider {
    background: url(../images/contact-div.png) center center no-repeat;
    height: 70px;
    width: 70px;
    margin: 0 auto;
    position: absolute;
    top: -35px;
    left: 0;
    bottom: 0;
    right: 0;
  }
  h2 {
    margin-top: 1em;
  }
  padding: 2em 0 3em;
  background-color: $red;

  form {
    padding-top: 0;
  }

  h3 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    text-align: left;
  }

  .button {
    background-color: #bf4b2e;
    &:hover {
      background-color: #d95534;
    }
    border-bottom-color: #993c25;
    border-right: 1px solid #993c25;
  }

  h4 {
    margin-bottom: 0;
  }

  .form, .data {
    @include screen-size(small) {
      @include span-columns(12,$total-columns);
      h3 {
        text-align: center;
      }
      form {
        max-width: 100%;
      }
      .dark-box {
        float: none;
        width: auto;
        max-width: 100%;
        margin-bottom: 1em;
        overflow: hidden;
        h4, a, span, .phone {
          display: block;
          line-height: 1.5em;
          text-align: center;
          float: none;
        }
      }
      &.align-right{
        .info {
          display: block;
          float: none;
          line-height: 1.5em;
          text-align: center;
        }
      }

      .button {
        display: block;
        width: 100%;
        padding: 1em 0;
      }
    }

    &.omega {
      margin-right: 0 !important;
    }
  }

  .success {
    display: inline-block;
    padding: 4px 8px;
    background: #9ba528;
    color: #FAFAFA;
    border-radius: 4px;
    margin-bottom: 1em;
  }
  .social-media .button {
    min-width: 200px;
    margin-bottom: 12px;
  }
  @include screen-size(medium) {
    .data {
      @include span-columns(6, 12);
    }
    .form {
      @include span-columns(6 omega, 12);
    }
    .social-media {
      @include span-columns(12 omega, 12);
    }
    .social-media, .social-media h3{
      text-align: center;
    }
  }
  @include screen-size(small) {
    .data, .form, .social-media {
      @include span-columns(12, 12);
    }
    .social-media {
      h3 {
        text-align: center;
      }
      text-align: center;
    }
  }
}
.dark-box {
  color: #fafafa;
  background-color: #272b2e;
  padding: 20px 14px;
  width: auto;
  @include border-radius(4px, 4px);

  .align-right &{
    float: right;
  }
  a, span, .phone {
    text-align: left;
    color: #fafafa;
    margin-bottom: 16px;
    font-weight: 300;
    display: inline-block;
    &.no-margin {
      margin-bottom: 0;
    }
  }
*:last-child {
    margin-bottom: 0;
}
  h4 {
    text-align: left;
    margin-top: 0;
    color: #CC5031;
    line-height: 1em;
  }
  @include screen-size(small) {
    h4, a, span, .phone {
      display: block;
    }
  }
}

form {
  max-width: 400px;
  padding-bottom: 0;
  margin-bottom: 0;
  .entry {
    position: relative;
    margin-bottom: 12px;
    .input-wrapper {
      @include border-radius(4px, 4px);
      overflow: hidden;
      position: relative;
      label {
        background-color: #272b2e;
        width: 40px;
        height: 100%;
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        .name-icon, .message-icon, .email-icon {
          position: relative;
          margin: -9px auto 0;
          top: 50%;
        }
      }
      input, textarea {
        padding-left: 40px;
        margin-bottom: 0;
        margin-left: 10px;
      }
      input {
        height: 40px;
      }
      textarea {
        height: 120px;
      }
    }
    &.error {
      .input-wrapper {
        border: 2px solid #A52828;
      }
      span.error {
        @include border-radius(2px, 2px);
        display: inline-block;
        padding: 2px 3px;
        background-color: #a52828;
        color: #fafafa;
        font-weight: 300;
        position: absolute;
        z-index: 10;
        bottom: -0.5em;
        font-size: 12px;
        line-height: 1em;
        margin-left: 50px;
      }
    }
  }
}

#footer {
  background-color: #272B2E;
  color: #cee3f2;
  text-align: center;
  .to-top {
    position: relative;
    top: -40px;
    width: 80px;
    height: 80px;
    margin: 0 auto;
    background: url(../images/to-top-sprite.png) no-repeat center center;
    background-position: 0 0;
    text-indent: -9999px;
    display: block;
    @media only screen and (-webkit-min-device-pixel-ratio: 2)
    {
      background: url(../images/to-top-ret.png) no-repeat center center;
    }
    span {
      @include transition(opacity 0.2s ease-in-out);
      display: block;
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
    &:hover {
      span {
        display: block;
        opacity: 1;
        background: url(../images/to-top-sprite.png) no-repeat;
        background-position: 0 -80px;
        @media only screen and (-webkit-min-device-pixel-ratio: 2)
        {
          background: url(../images/to-top-hover-ret.png) no-repeat center center;
        }
      }
    }
  }
  .vanguard {
    margin-top: 0;
    margin-bottom: 12px;
  }
  h3 {
    color: #cee3f2;

    margin-bottom: 12px;
  }
}

// Breadcrumbs
@include screen-size(small) {
    .breadcrumbs {
        display: none;
    }
}

/*
* Footer
*/

// Make it sticky (Test this very good for all the screen sizes!)
@include sticky-footer(300px);
