/* ==========================================================================
   Typography
   ========================================================================== */

.base-font-margin {
    @include screen-size(large) {
        @include rem-fallback(margin, 0, 0, $large-font-margin, 0);
    }

    @include screen-size(medium) {
        @include rem-fallback(margin, 0, 0, $medium-font-margin, 0);
    }

    @include screen-size(small) {
        @include rem-fallback(margin, 0, 0, $small-font-margin, 0);
    }
}

html {
    color: $base-font-color;
    font-size: $base-rem-size;
    @include word-break(break-word);
}

body {
    @include font($large-font-size, $large-line-height);
    -webkit-font-smoothing: antialiased;
}

html, body, input, textarea {
    font-family: $base-font-family;
}

/* Selection colors */
::-moz-selection {
    background: $base-selection-bgcolor;
    text-shadow: none;
}
::selection {
    background: $base-selection-bgcolor;
    text-shadow: none;
}

/* Images */
$img-margin-top: 0.4em; // Align with possible surrounding text

img {
    @include inline-block();
    position: relative;
    vertical-align: top;
    margin-top: $img-margin-top;
    max-width: 100%; // Never stretch images
    height: auto; // Always keep original image ratio
}

figure {
    &.left {
        float: left;
        margin: $img-margin-top 1em 1em 0;
    }
    &.right {
        float: right;
        margin: $img-margin-top 0 1em 1em;
    }
    &.center {
        @extend .base-font-margin;
        clear: both;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    &.medium {
        width: 50%;
    }

    @include screen-size(small) {
        &.small {
            width: 50%;
        }
    }
    @include screen-size(medium, large) {
        &.small {
            width: 25%;
        }
    }

    img {
        margin: 0;
    }
}

/* Links */
a {
    color: $base-link-color;

    &:hover, &:focus {
        text-decoration: none;
    }

    &.more{
        @include inline-block();

        &:after {
            content: ' »';
        }
    }
}

/* MEDIUM & LARGE SCREEN - hide phone link */
@include screen-size(medium, large) {
    a[href^=tel], a.phone {
        text-decoration: none;
        color: $base-font-color;
    }
}


/* Article */
article {
    @extend .clearfix;
    @extend .base-block-margin;
}

p {
    @extend .base-font-margin;
}

/* Titles */
.title-1, .title-2, .title-3, .title-4, .title-5, .title-6 {
    @extend .base-font-margin;
    @include text-color($base-font-color);
    display: block;
    font-family: $titles-font-family;
    font-weight: normal;
    text-transform: none;
    text-align: center;
    color: #fafafa;
    font-weight: 300;

    a {
        text-decoration: none;
    }
    &.dark {
      color: #1f2e33;
    }
}


.title-1, .title-2, .title-3, .title-4, .title-5, .title-6, p, a {
  .align-left &{
    text-align: left;
  }
  .align-right &{
    text-align: right;
  }
}
.align-left {
  text-align: left;
}

.title-1 {
    @include font(px-2-rem(48px), px-2-rem(48px));
}
.title-1--alt { // title1 modifier
    @extend .title-1;
}

.title-2 {
    @include font(px-2-rem(36px), px-2-rem(48px));
}

.title-3 {
    @include font(px-2-rem(24px), px-2-rem(35px));
}

.title-4 {
    @include font(px-2-rem(18px), px-2-rem(25px));
}

.title-5 {
    @include font(px-2-rem(18px), px-2-rem(25px));
}

.titl

h1 { @extend .title-1; }
h2 { @extend .title-2; }
h3 { @extend .title-3; }
h4 { @extend .title-4; }
h5 { @extend .title-5; }
h6 { @extend .title-5; }

h1 {
  color: #fafafa;
  font-weight: 300;
  text-align: center;
  @include font(px-2-rem(48px), px-2-rem(48px));

  span.black {
    color: #1f2e33;
    @include font(px-2-rem(36px), px-2-rem(36px));
  }
}

/* Horizontal rule */
hr {
    @extend .base-font-margin;
    display: block;
    height: 1px;
    padding: 0;
    border: 0;
    border-top: 1px solid $hr-color;
}

/* Lists */
ul, ol {
    @extend .base-font-margin;
    @include rem-fallback(padding-left, 2rem);
    overflow: hidden;

    li {
        display: list-item;
        @include rem-fallback(margin-bottom, px-2-rem(3px));
        text-transform: none;
    }
}

ul {
    list-style-type: disc;

}

ol {
    list-style-type: decimal;
}

/* Tables */
table {
    @extend .base-font-margin;
    @include font(0.8rem);

    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    border-spacing: 0;

    th, td {
        @include rem-fallback(padding, 0.5rem);

        border: 1px solid $base-font-color;
    }

    @include screen-size(small, medium) {
        display: block;
        position: relative;
        border-collapse: collapse;
        border-spacing: 0;

        th, td {
            margin: 0;
            vertical-align: top;

            &:last-child {
                border-bottom: 1px solid $base-font-color;
            }
        }

        th {
            text-align: left;
            display: block;
        }

        thead {
            display: block;
            float: left;

            tr {
                display: block;
            }
        }

        tbody {
            display: block;
            width: auto;
            position: relative;
            overflow-x: auto;
            white-space: nowrap;

            tr {
                display: inline-block;
                vertical-align: top;
                border-left: 1px solid $base-font-color;
            }
        }

        td {
            display: block;
            min-height: 1.25em;
            text-align: left;
        }

        th {
            border-bottom: 0;
            border-left: 0;
        }

        td {
            border-left: 0;
            border-right: 0;
            border-bottom: 0;
        }
    }
}