<!doctype html>

<!--[if IE 7 ]><html lang="{{ config.language }}" class="ie7"> <![endif]-->
<!--[if lte IE 8 ]> <html lang="{{ config.language }}" class="lte-ie8"> <![endif]-->
<!--[if (gt IE 7)|!(IE)]><!--> <html lang="{{ config.language }}"> <!--<![endif]-->

<head>
    <title>{{ title }}{% if title %} | {% endif %}{{ config.siteName }} - Web developer</title>
    <meta charset="utf-8">

    <meta name="description" content="{{ description|e }}" />
    <meta name="keywords"    content="Web development, web, webdesign, Brecht, Franco, Brecht Franco, Limburg, Zolder, Hasselt, freelance, vanguard" />
    <meta name="author"      content="Brecht Franco">
    <meta name="location"    content="Heusden-Zolder">
    <meta name="role"        content="Web developer">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Use png favicon -->
    <link rel="icon" href="/assets/default/images/favicons/favicon.png">
    <!--[if IE]><link rel="shortcut icon" href="/assets/default/images/favicons/favicon.ico"><![endif]-->

    <!-- Icon for (older) Android devices -->
    <link rel="apple-touch-icon-precomposed" href="/assets/default/images/favicons/apple-touch-icon-precomposed.png" />

    <!-- Windows tile settings -->
    <meta name="application-name" content="{{config.siteName|escape}}"/>
    <meta name="msapplication-TileColor" content="#272b2e"/>
    <meta name="msapplication-TileImage" content="/assets/default/images/favicons/windows-tile-144x144.png"/>

    <!-- CSS Styles -->
    <link rel="stylesheet" type="text/css" media="all" href="/assets/admin/css/bootstrap.min.css?v=0" />
    <link href="/assets/admin/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="all" href="/assets/admin/css/sb-admin.css?v=0" />


</head>
<body>
    <div id="wrapper">

        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">{{ config.siteName|escape }} - Admin Panel</a>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">
        <li>
            <a href="{{ config.siteUrl }}"><i class="fa fa-home fa-fw"></i></a>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li><a href="{{ config.adminUrl }}logout/"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                </li>
            </ul>
            <!-- /.dropdown-user -->
        </li>
        <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->

        </nav>
        <!-- /.navbar-static-top -->

        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="side-menu">
                    <li>
                        <a href="{{ config.adminUrl }}"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                    </li>
                    <li>
                        <a href="{{ config.adminUrl }}news/"><i class="fa fa-dashboard fa-fw"></i> News</a>
                    </li>

                </ul>
                <!-- /#side-menu -->
            </div>
            <!-- /.sidebar-collapse -->
        </nav>
        <!-- /.navbar-static-side -->

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">{{ title }}</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            {% block content %}{% endblock %}
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Core Scripts - Include with every page -->
    <script src="/assets/admin/js/jquery-1.10.2.js"></script>
    <script src="/assets/admin/js/bootstrap.min.js"></script>
    <script src="/assets/admin/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="/assets/admin/ckeditor/ckeditor.js"></script>

    <script>
        {% for line in js %}
           {{ line | raw }}
        {% endfor %}
    </script>

    <!-- SB Admin Scripts - Include with every page -->
    <script src="/assets/admin/js/sb-admin.js"></script>

    <script src="/assets/admin/js/main.js"></script>

    <!-- Page-Level Demo Scripts - Blank - Use for reference -->

</body>
</html>