<!doctype html>

<!--[if IE 7 ]><html lang="{{ config.language }}" class="ie7"> <![endif]-->
<!--[if lte IE 8 ]> <html lang="{{ config.language }}" class="lte-ie8"> <![endif]-->
<!--[if (gt IE 7)|!(IE)]><!--> <html lang="{{ config.language }}"> <!--<![endif]-->

<head>
    <title>{{ title }}{% if title %} | {% endif %}{{ config.siteName }} - Web developer</title>
    <meta charset="utf-8">

    <meta name="description" content="{{ description|e }}" />
    <meta name="keywords"    content="Web development, web, webdesign, Brecht, Franco, Brecht Franco, Limburg, Zolder, Hasselt, freelance, vanguard" />
    <meta name="author"      content="Brecht Franco">
    <meta name="location"    content="Heusden-Zolder">
    <meta name="role"        content="Web developer">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Use png favicon -->
    <link rel="icon" href="/assets/default/images/favicons/favicon.png">
    <!--[if IE]><link rel="shortcut icon" href="/assets/default/images/favicons/favicon.ico"><![endif]-->

    <!-- Icon for (older) Android devices -->
    <link rel="apple-touch-icon-precomposed" href="/assets/default/images/favicons/apple-touch-icon-precomposed.png" />

    <!-- Windows tile settings -->
    <meta name="application-name" content="{{config.siteName|escape}}"/>
    <meta name="msapplication-TileColor" content="#272b2e"/>
    <meta name="msapplication-TileImage" content="/assets/default/images/favicons/windows-tile-144x144.png"/>

    <!-- CSS Styles -->
    <link rel="stylesheet" type="text/css" media="all" href="/assets/default/styles/main.css?v=0" />
    <!--[if (gte IE 6)&(lte IE 8)]>
        <link rel="stylesheet" type="text/css" media="all" href="/assets/default/styles/lte-IE8.css?v=0" />
    <![endif]-->


    <!-- Modernizr -->
    <script src="/assets/default/scripts/components/modernizr-custom.js"></script>

    <!-- jQuery + Selectivizr + Respond -->
    <!--[if (gte IE 6)&(lte IE 8)]>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="a/assets/lib/vendor/jquery/jquery.js">\x3C/script>')</script>
    <script type="text/javascript" src="/assets/lib/ven ador/selectivizr/selectivizr.js"></script>
    <![endif]-->
    <script src="/assets/lib/vendor/respond/respond.min.js"></script>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-46492484-1', 'brecht-franco.be');
        ga('send', 'pageview');

    </script>

</head>
<body>
    <div id="wrapper">
        <header>
            <div class="picture">Brecht Franco</div>
        </header>
        {% block content %}{% endblock %}
    </div>
    <div id="footer">
        <a class="to-top" href="#"><span class="hover">To top</span></a>
        <div class="container">
            <h3>Site gemaakt op basis van</h3>
            <img class="vanguard" width="200" height="55" src="/assets/default/images/vanguard.png" alt="Vanguard Framework"/>
            <p>&raquo; Eigen framework, in ontwikkeling &laquo;</p>
        </div>
    </div>

    <!-- jQuery -->
    <!--[if (gt IE 8)|!(IE)]><!-->
    <script src="/assets/lib/vendor/jquery/jquery.js"></script>
    <!--<![endif]-->
    <script src="/assets/lib/vendor/jquery-placeholder/jquery.placeholder.min.js"></script>


    <!-- Our own Scripts -->
    <script src="/assets/default/scripts/main.js"></script>

</body>
</html>